/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description:
        Purpose of the stylesheet follows.
*/

/*
 * Thumbnails float optionally to the left or right of descriptive lists.
 */

dl.islandora-object-tn {
  float: left;
  width: 20.8333%;
  padding: 0 10px 0 0;
  margin: 0;
}

dl.islandora-object-fields {
  float: right;
  width:79.1666%;
  border-top:3px solid #ddd;
}

.islandora-object-fields dt {
  font-weight: bold;
}

.islandora-object-fields dt,
.islandora-object-fields dd {
  padding:6px 2% 4px;
  border-top:1px solid #ddd;
}

.islandora-object-fields dt.first,
.islandora-object-fields dd.first {
  border-top: 0;
}