/*
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description:
        Purpose of the stylesheet follows.
*/

/*
 * Thumbnails float optionally to the left or right of descriptive lists.
 */

dl.islandora-object-tn {
  float: left;
  margin: 1.5em 0;
  padding: 0 10px 0 0;
  width: 20.8333%;
}

dl.islandora-object-fields {
  border-top: 0px solid #ddd;
  float: right;
  margin: 1.5em 0;
  width: 79.1666%;
}

.islandora-object-fields dt {
  font-weight: bold;
}

.islandora-object-fields dt.first {
  border-top: 0;
}

.islandora-object-fields dt,
.islandora-object-fields dd {
  border-top: 1px solid #ddd;
  padding: 6px 2% 4px;
}

.islandora-object-fields dt.first,
.islandora-object-fields dd.first {
  border-top: 0;
}
