/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description:
        Purpose of the stylesheet follows.
*/

/* islandora-basic-collection STYLES*/

.islandora-basic-collection {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

dl.islandora-basic-collection-object
{
  width: 20%;
  min-width: 100px;
  text-align: center;
  float: left;
  margin:  2% 2% 50px 2%;
}

.islandora-basic-collection-object dt img {
  max-width: 100%;
  *width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.islandora-basic-collection-object dd
{
  margin: 0;
  padding: 0;
}
