/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description: Theme css, like margins, padding, borders, colors, etc
*/

/* Make flexible and assure content doesn't go off the page */
.islandora-basic-collection {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

/* Round borders on images */
.islandora-basic-collection-object dt img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Set space between objects */
.islandora-basic-collection-object {
  margin: 1.5em auto;
}

/* Set space between dd items */
.islandora-basic-collection-object dd {
  padding-top: 2px;
  padding-bottom: 2px;
}

/* LIST VIEW */

/* Borders to seperate collection objects */
.islandora-basic-collection-list-item {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}


/* to be moved to admin when it is added */
#islandora-collection-deletion-form table th.select-all,
#islandora-collection-migrate-form table th.select-all {
  width: 20px;
}

