<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:camel="http://camel.apache.org/schema/spring"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring
       http://camel.apache.org/schema/spring/camel-spring.xsd">

	<!-- Spring - Camel Bridged Properties -->
    <bean id="bridgePropertyPlaceholder" class="org.apache.camel.spring.spi.BridgePropertyPlaceholderConfigurer">
      <property name="location" value="classpath:sync.properties"/>
    </bean>
  
    <bean id="drupalNodeCreateProcessor" class="ca.islandora.sync.processors.DrupalNodeCreateProcessorBean" />
    
    <camelContext xmlns="http://camel.apache.org/schema/spring" id="islandora-sync">
      <package>ca.islandora.sync.routes</package>
    </camelContext>

</beans>
