[submodule "Alpaca"]
  path = Alpaca
  url = https://github.com/Islandora-CLAW/Alpaca
  branch = master
[submodule "islandora"]
  path = islandora
  url = https://github.com/Islandora-CLAW/islandora
  branch = 8.x-1.x
[submodule "claw_playbook"]
  path = claw_playbook
  url = https://github.com/Islandora-Devops/claw-playbook
  branch = master
[submodule "islandora_image"]
  path = islandora_image
  url = https://github.com/Islandora-CLAW/islandora_image.git
[submodule "chullo"]
	path = chullo
	url = git@github.com:Islandora-CLAW/chullo.git
[submodule "Crayfish"]
	path = Crayfish
	url = git@github.com:Islandora-CLAW/Crayfish.git
[submodule "jsonld"]
	path = jsonld
	url = git@github.com:Islandora-CLAW/jsonld.git
[submodule "Syn"]
	path = Syn
	url = git@github.com:Islandora-CLAW/Syn.git
[submodule "Crayfish-Commons"]
	path = Crayfish-Commons
	url = git@github.com:Islandora-CLAW/Crayfish-Commons.git
[submodule "drupal-project"]
	path = drupal-project
	url = git@github.com:Islandora-CLAW/drupal-project.git
