# Set the default behavior, in case people don't have core.autocrlf set.
# We need this due to https://github.com/Islandora/documentation/issues/188.
* text=auto
* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
