[submodule "Alpaca"]
	path = Alpaca
	url = https://github.com/Islandora-CLAW/Alpaca
[submodule "islandora"]
	path = islandora
	url = https://github.com/Islandora-CLAW/islandora
[submodule "islandora_defaults"]
	path = islandora_defaults
	url = https://github.com/Islandora-CLAW/islandora_defaults
[submodule "migrate_islandora_csv"]
	path = migrate_islandora_csv
	url = https://github.com/Islandora-CLAW/migrate_islandora_csv
[submodule "controlled_access_terms"]
	path = controlled_access_terms
	url = https://github.com/Islandora-CLAW/controlled_access_terms
[submodule "claw-playbook"]
	path = claw-playbook
	url = https://github.com/Islandora-Devops/claw-playbook
[submodule "chullo"]
	path = chullo
	url = https://github.com/Islandora-CLAW/chullo
[submodule "Crayfish"]
	path = Crayfish
	url = https://github.com/Islandora-CLAW/Crayfish
[submodule "jsonld"]
	path = jsonld
	url = https://github.com/Islandora-CLAW/jsonld
[submodule "Syn"]
	path = Syn
	url = https://github.com/Islandora-CLAW/Syn
[submodule "Crayfish-Commons"]
	path = Crayfish-Commons
	url = https://github.com/Islandora-CLAW/Crayfish-Commons
[submodule "carapace"]
	path = carapace
	url = https://github.com/Islandora-CLAW/carapace
[submodule "openseadragon"]
	path = openseadragon
	url = https://github.com/Islandora-CLAW/openseadragon
[submodule "drupal-project"]
	path = drupal-project
	url = https://github.com/Islandora-CLAW/drupal-project
[submodule "migrate_7x_claw"]
	path = migrate_7x_claw
	url = https://github.com/Islandora-Devops/migrate_7x_claw
