[submodule "Alpaca"]
  path = Alpaca
  url = https://github.com/Islandora-CLAW/Alpaca
  branch = master
[submodule "islandora"]
  path = islandora
  url = https://github.com/Islandora-CLAW/islandora
  branch = 8.x-1.x
[submodule "claw_vagrant"]
  path = claw_vagrant
  url = https://github.com/Islandora-CLAW/claw_vagrant
  branch = master
[submodule "islandora_collection"]
  path = islandora_collection
  url = https://github.com/Islandora-CLAW/islandora_collection.git
[submodule "islandora_image"]
  path = islandora_image
  url = https://github.com/Islandora-CLAW/islandora_image.git
