cache.properties
.DS_Store
tests/test_config.ini
install/.vagrant
install/downloads
site/
installer
composer.phar
vendor
services/CollectionService/composer.json_bkup
services/TransactionService/composer.json_bkup
services/align_branches.sh
services/composer.json_bkup
services/composer.lock
services/composer.sha384sum
services/CollectionService/config/settings.dev.yml
services/ResourceService/config/settings.dev.yml
services/TransactionService/config/settings.dev.yml
services/config/settings.dev.yml
install/scripts/composer.json
