site_name: Islandora
site_dir: site
docs_dir: docs
site_description: Documentation for Islandora

dev_addr: 'localhost:8111'
repo_url: https://github.com/Islandora/documentation
site_url: https://islandora.github.io/documentation/
edit_uri: 'edit/main/docs/'

theme:
  name: 'material'
  palette:
    primary: 'green'
    accent: 'blue'
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  logo: 'assets/Islandora_logo.png'
  language: 'en'
  features:
    - content.action.edit
  icon:
    edit: material/pencil
markdown_extensions:
  - admonition
  - footnotes
  - toc:
        permalink: True
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra_css:
  - css/custom.css
plugins:
  - search
  - git-revision-date-localized
  - redirects:
      redirect_maps:
        'contributing/create_issues.md': 'contributing/create-issues.md'
        'contributing/docs_style_guide.md': 'contributing/docs-style-guide.md'
        'contributing/readme_template.md': 'contributing/readme-template.md'
        'installation/component_overview.md': 'installation/component-overview.md'
        'installation/docker-available-commands.md': 'installation/docker/isle-dc/docker-available-commands.md'
        'installation/docker-available-configuration.md': 'installation/docker/isle-dc/docker-available-configuration.md'
        'installation/docker-basic-usage.md': 'installation/docker/isle-dc/docker-basic-usage.md'
        'installation/docker-custom.md': 'installation/docker/isle-dc/docker-custom.md'
        'installation/docker-introduction.md': 'installation/docker/docker-introduction.md'
        'installation/docker-local.md': 'installation/docker/isle-dc/docker-local.md'
        'installation/docker-maintain-drupal.md': 'installation/docker/isle-dc/docker-maintain-drupal.md'
        'installation/docker-maintain-isle.md': 'installation/docker/isle-dc/docker-maintain-isle.md'
        'installation/docker-prereq.md': 'installation/docker/docker-prereq.md'
        'installation/docker-troubleshooting.md': 'installation/docker/isle-dc/docker-troubleshooting.md'
        'installation/manual/configuring_drupal.md': 'installation/manual/configuring-drupal.md'
        'installation/manual/installing_composer_drush_and_drupal.md': 'installation/manual/installing-composer-drush-and-drupal.md'
        'installation/manual/installing_crayfish.md': 'installation/manual/installing-crayfish.md'
        'installation/manual/installing_fedora_syn_and_blazegraph.md': 'installation/manual/installing-fedora-syn-and-blazegraph.md'
        'installation/manual/installing_karaf_and_alpaca.md': 'installation/manual/installing-alpaca.md'
        'installation/manual/installing-karaf-and-alpaca.md': 'installation/manual/installing-alpaca.md'
        'installation/manual/installing_solr.md': 'installation/manual/installing-solr.md'
        'installation/manual/installing_tomcat_and_cantaloupe.md': 'installation/manual/installing-tomcat-and-cantaloupe.md'
        'installation/manual/preparing_a_webserver.md': 'installation/manual/preparing-a-webserver.md'
        'installation/site-template.md': 'installation/docker/site-template/site-template.md'
        'technical-documentation/adding_format_jsonld.md': 'technical-documentation/adding-format-jsonld.md'
        'technical-documentation/alpaca_tips.md': 'technical-documentation/alpaca-tips.md'
        'technical-documentation/resizing_vm.md': 'technical-documentation/resizing-vm.md'
        'technical-documentation/updating_drupal.md': 'technical-documentation/updating-drupal.md'
        'tutorials/create_update_views.md': 'tutorials/create-update-views.md'
        'tutorials/switch_homepage_to_twig.md': 'tutorials/switch-homepage-to-twig.md'
        'user-documentation/content_models.md': 'user-documentation/content-models.md'
        'user-documentation/content_types.md': 'user-documentation/content-types.md'
        'user-documentation/file_viewers.md': 'user-documentation/file-viewers.md'
        'user-documentation/linked_data.md': 'user-documentation/linked-data.md'
        'user-documentation/metadata_harvesting.md': 'user-documentation/metadata-harvesting.md'
        'user-documentation/recipes/alexa_search.md': 'user-documentation/recipes/alexa-search.md'
            

extra:
  font:
    text: 'Roboto'
    code: 'Roboto Mono'
  author:
    twitter: 'islandora'
  palette:
    primary: 'red'
    accent: 'red'
  social:
    - icon: fontawesome/brands/twitter
      link: 'https://twitter.com/islandora'

copyright: <b>This documentation is user-sourced!</b> Suggestions and comments are welcome in our <u><a href="https://github.com/Islandora/documentation/issues" target="_blank">issue queue</a></u>.

nav:
  - 'About': 'index.md'
  # Conceptual, all user roles: should contain high-level information about
  # what everybody needs to know to understand Islandora and interact with it
  # Possibly add page/section: How to use this documentation (containing user role definitions)
  - Concepts:
      - 'Nodes in Islandora': 'concepts/node-concepts.md'
      - 'Media in Islandora': 'concepts/node-media.md'
      - 'Derivatives': 'concepts/derivatives.md'
      - 'RDF Repository': 'concepts/rdf.md'
      - 'Islandora Starter Site': 'concepts/starter-site.md'
  - Behaviours (Models):
      - 'Collections': 'concepts/collection.md'
      - 'Paged Content': 'user-documentation/paged-content.md'
              # conceptual and procedural, repository managers/ curators
              # move out procedural description for ordering pages
      - 'Audio': 'models/audio.md'
      - 'Video': 'models/video.md'
  

  - Installation:
      # Procedural, different user roles: clarify who the audience is for a
      # particular recipe. The ISLE documentation page was written with a
      # 'non-technical' user in mind who wants to test. The Manual installation
      # guides mention that users will need additional knowledge about server administration.
      - 'Release Notes':
          - '8.x-2.0 Release Notes': 'release-notes/8.x-2.0.md'
          - 'Older Release Notes': 'https://github.com/Islandora/documentation/tree/main/docs/release_notes'
      - 'Install a Demo': 'installation/install-a-demo.md'
      - 'Docker':
          - 'Introduction to ISLE': 'installation/docker/docker-introduction.md'
          - 'Prerequisites': 'installation/docker/docker-prereq.md'
          - 'ISLE-DC':
              - Installing:
                 - 'Installing a Development Server': 'installation/docker/isle-dc/docker-local.md'
                 - 'Installing a Staging/Production Server': 'installation/docker/isle-dc/docker-custom.md'
              - Maintaining:
                - 'Basic Usage': 'installation/docker/isle-dc/docker-basic-usage.md'
                - 'Maintaining Drupal': 'installation/docker/isle-dc/docker-maintain-drupal.md'
                - 'Maintaining ISLE': 'installation/docker/isle-dc/docker-maintain-isle.md'
              - 'Available Commands': 'installation/docker/isle-dc/docker-available-commands.md'
              - 'Available Configuration': 'installation/docker/isle-dc/docker-available-configuration.md'
              - 'Troubleshooting' : 'installation/docker/isle-dc/docker-troubleshooting.md'
          - 'ISLE Site Template':
              - 'Introduction to Site Template': 'installation/docker/site-template/site-template.md'
              - 'Customizations' : 'installation/docker/site-template/customizations.md'
      - 'Ansible Playbook': 'installation/playbook.md'
      - Manual Installation:
        - 'Introduction': 'installation/manual/introduction.md'
        - 'Preparing a LAPP Webserver': 'installation/manual/preparing-a-webserver.md'
        - 'Installing Composer, Drush, and Drupal': 'installation/manual/installing-composer-drush-and-drupal.md'
        - 'Installing Tomcat and Cantaloupe': 'installation/manual/installing-tomcat-and-cantaloupe.md'
        - 'Installing Fedora, Syn, and Blazegraph': 'installation/manual/installing-fedora-syn-and-blazegraph.md'
        - 'Installing Solr': 'installation/manual/installing-solr.md'
        - 'Installing Crayfish': 'installation/manual/installing-crayfish.md'
        - 'Installing Alpaca': 'installation/manual/installing-alpaca.md'
        - 'Configuring Drupal': 'installation/manual/configuring-drupal.md'
      - 'Installing Modules': 'technical-documentation/install-enable-drupal-modules.md'
          # procedural, sysadmin
          # moved from System Administrator Documentation
  - Walkthroughs:
      # Audience for this section is someone who is extremely new to doing
      # the kinds of things that we are introducing. This is someone's first
      # foray into this domain so each tutorial should accomplish something
      # satisfying, and work 100% of the time.

      # Tutorials are not conceptual. They tell you exactly what to do without
      # explaining why, and let the user decide if they want to look deeper at
      # what these concepts are.
      - 'Create a Resource Node': 'tutorials/create-a-resource-node.md'
          # procedural, for people learning what islandora is.
      - 'Create a Collection': 'tutorials/how-to-create-collection.md'
          # procedural, repository managers/ curators
      - 'Modify or Create a Content Type': 'user-documentation/content-types.md'
          # procedural, repository managers
          # add resource page on learning YAML
      - 'Configure Blocks': 'tutorials/blocks.md'
          # procedural, repository managers
          # add/link to conceptual documentation about blocks in Drupal?
      - 'Create or Update a View': 'tutorials/create-update-views.md'
          # procedural, repository managers
          # Add/link to conceptual docs about Views?
      - 'Video Documentation': 'user-documentation/video-docs.md'
          # mostly procedural, repository managers
      - 'Create and Manage User Accounts': 'user-documentation/users.md'
          # procedural, repository managers
          # add reference information on user roles that come with Islandora/Islandora Defaults out of the box
  - Using Islandora:
      - 'Introduction': 'user-documentation/user-intro.md'
          # Conceptual, 'site admins/repository managers'
          # move out high-level conceptual information (#architecture section)
      - Describing content:
          - 'Content models': 'user-documentation/content-models.md'
          # conceptual, all user roles
          # moved from User documentation > Content in Islandora
          - 'Metadata': 'user-documentation/metadata.md'
          # largely conceptual, repository managers/ curators
          # information (e.g. move procedure for setting display hints to
          - 'Starter Site Metadata Configuration': 'user-documentation/starter-site-metadata-configuration.md'
          - 'Linked data': 'user-documentation/linked-data.md'
          # conceptual, repository managers
          - 'Metadata harvesting': 'user-documentation/metadata-harvesting.md'
          # conceptual, repository managers
          # add reference documentation for developers
      - Searching content:
          - 'Searching': 'user-documentation/searching.md'
              # procedural, repository manager
          - 'Advanced search': 'user-documentation/advanced-search.md'
              # procedural, repository manager
          - 'Faceting': 'user-documentation/faceting.md'
              # procedural, repository manager
      - Viewing content:
          - 'Context': 'user-documentation/context.md'
          # conceptual and procedural, repository managers
          - 'File viewers': 'user-documentation/file-viewers.md'
          # conceptual, understanding a very complex network of config. For repo managers/devs.
          - 'IIIF': 'user-documentation/iiif.md'
          # conceptual/ procedural, repository managers
          # add reference documentation about IIIF presentation API implementation
      - Handling content files:
          - 'Media': 'user-documentation/media.md'
          # conceptual and procedural, repository managers
          # move out procedural description for deleting Media
          - 'Flysystem': 'user-documentation/flysystem.md'
          # moved from Developer documentation
          - 'Large files': 'user-documentation/uploading-large-files.md'
          - 'Transcripts': 'user-documentation/transcripts.md'
              # Conceptual and pragmatic, for repository managers.
      - Administering Islandora:
          - 'Access control': 'user-documentation/access-control.md'
          - 'Breadcrumbs': 'user-documentation/breadcrumbs.md'
          - 'JWT authentication': 'user-documentation/jwt-authentication.md'
          # moved from Developer documentation
          - 'URL Aliases': 'user-documentation/url-aliases.md'
          - 'Usage statistics': 'user-documentation/usage-stats.md'
          # largely conceptual, repository managers
          - 'Versioning': 'user-documentation/versioning.md'
          # conceptual/ reference, repository managers/ developers
      - 'Accessibility': 'user-documentation/accessibility.md'
      - 'Multilingual': 'user-documentation/multilingual.md'
          # conceptual/ procedural/ reference, repository managers
      - 'Extending Islandora': 'user-documentation/extending.md'
          # conceptual, repository managers/ developers
  - Documentation for Developers:
    - 'Stack Overview': 'installation/component-overview.md'
          # moved from "Installation" section; alternatively duplicate a simplified version in the overview section
          # also see Architecture Diagram in Developer documentation
          # also see user-intro.md#architecture for the cheeseburger/bento box analogy
          # Conceptual/ reference, all user roles/ sys admins/ developers:
          # procedural information should be moved out installation guides
    - 'Architecture Diagram': 'technical-documentation/diagram.md'
    - REST Documentation:
      - 'Introduction': 'technical-documentation/using-rest-endpoints.md'
      - 'Authorization': 'technical-documentation/rest-authorization.md'
      - 'GET': 'technical-documentation/rest-get.md'
      - 'POST/PUT': 'technical-documentation/rest-create.md'
      - 'PATCH': 'technical-documentation/rest-patch.md'
      - 'DELETE': 'technical-documentation/rest-delete.md'
      - 'Signposting': 'technical-documentation/rest-signposting.md'
    - Alpaca:
      - 'Alpaca Technical Stack': 'alpaca/alpaca-technical-stack.md'
      - 'Alpaca Tips': 'technical-documentation/alpaca-tips.md'
    - Tests:
      - 'Testing Notes': 'technical-documentation/testing-notes.md'
    - 'Resizing a VM': 'technical-documentation/resizing-vm.md'
    - 'Updating Drupal': 'technical-documentation/updating-drupal.md'
    - 'Updating a `deb` and adding it to Lyrasis PPA': 'technical-documentation/ppa-documentation.md'
    - 'Adding back ?_format=jsonld': 'technical-documentation/adding-format-jsonld.md'
  - Migration/Batch Loading:
      - 'Migration Overview': 'technical-documentation/migration-overview.md'
      - 'REST API': 'technical-documentation/migration-rest-api.md'
      - 'Migrate API': 'technical-documentation/migration-migrate-api.md'
      - 'Islandora Workbench': 'technical-documentation/migration-islandora-workbench.md'
      - 'CSV': 'technical-documentation/migrate-csv.md'
      - 'Islandora 7': 'technical-documentation/migrate-7x.md'
  - Contributing:
      - 'How to contribute': 'contributing/CONTRIBUTING.md'
      - 'Testing a Pull Request': 'contributing/testing-a-pull-request.md'
      - 'Running Tests': 'technical-documentation/running-automated-tests.md'
      - 'Checking Coding Standards': 'technical-documentation/checking-coding-standards.md'
      - 'Contributing Workflow': 'contributing/contributing-workflow.md'
      - 'Creating GitHub Issues': 'contributing/create-issues.md'
      - 'Versioning Policy': 'technical-documentation/versioning.md'
      - 'How to release': 'contributing/releasing-islandora.md'
      - 'How to Edit Documentation': 'contributing/editing-docs.md'
      - 'How to Build Documentation': 'technical-documentation/docs-build.md'
          # moved from Developer documentation
      - 'Documentation Style Guide': 'contributing/docs-style-guide.md'
      - 'Committers': 'contributing/committers.md'
      - 'Maintaining the Sandbox': 'contributing/sandbox.md'
  - Glossary: 'user-documentation/glossary.md'
