.contentModeller .collection
{
  width: 400px; 
  float: left;
}

.contentModeller .model
{
  width: 475px;
  float: right;
}

.contentModeller img 
{
  width: 16px;
  padding: 0px;
  vertical-align: middle;
  cursor: hand;
}

.contentModeller .ajaxForm
{
      margin-top: 25px;
      padding: 10px;
      width:300px;
      border: 1px dashed black;
      display: none;
}

.contentModeller #ajaxBusy
{
	display: none;	
}
