/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description: The basic image page is a simple flexible layout page
    that breaks down to two columns when 2 sidebars are visible
*/

.islandora-basic-image-content {
  background-color: #F2F2F2;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}

.islandora-basic-image-content img {
  margin: 0;
  display: block;
}

.islandora-basic-image-metadata {
  display: block;
  clear: both;
}

dl.islandora-basic-image-fields {
  width:100%;
}

.islandora-basic-image-metadata dt {
  font-weight: normal;
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.islandora-basic-image-metadata dd {
  padding-left: 40px;
}


.islandora-basic-image-metadata dt,
.islandora-basic-image-metadata dd {
  border-top:1px solid #e5e5e5;
}

.islandora-basic-image-metadata dt.first,
.islandora-basic-image-metadata dd.first {
  border-top:0;
}

body.two-sidebars .islandora-basic-image-sidebar {
    clear: both;
    width: 100%;
}

@media all and (min-width: 768px) {

  body.no-sidebars .islandora-basic-image-content {
    width: 65%;
    float: left; /* LTR */
  }

  body.no-sidebars .islandora-basic-image-sidebar {
    padding-left: 20px;
  }

  body.no-sidebars .islandora-basic-image-sidebar {
    float: right; /* LTR */
    width: 35%;
    clear: none;
  }
  
}