/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description:
        Purpose of the stylesheet follows.
*/

.islandora-basic-image-object img {
  height: auto;
  max-width: 100%;
  *width: 100%;
}

.islandora-basic-image-content,
.islandora-basic-image-sidebar {
  display: inline;
  position: relative;
}

.islandora-basic-image-metadata {
  display: block;
  clear: both
}

dl.islandora-basic-image-fields {
  width:100%;
  margin: 0 auto;
  letter-spacing:-0.31em;
  *letter-spacing:normal;
  word-spacing:-0.43em;
} 

/*
 * The width + left/right padding of DTs/DDs equals 88% when compensating for an image
 */

.islandora-basic-image-metadata * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.islandora-basic-image-metadata dt {
  margin-right:-1px;
  width:15.625%;
  font-weight: normal;
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.islandora-basic-image-metadata dd {
  width:84.375%;
  padding-left: 40px;
}

/* 
 * In this rule, we reset the white-space (see hack above)
 */
.islandora-basic-image-metadata dt,
.islandora-basic-image-metadata dd {
  display:inline-block;
  *display:inline;
  zoom:1;
  letter-spacing:normal;
  word-spacing:normal;
  vertical-align:top;
  padding-top: 6px;
  padding-bottom: 4px;
  margin:0;
  border-top:1px solid #e5e5e5;
}

.islandora-basic-image-metadata dt.first,
.islandora-basic-image-metadata dd.first {
  border-top:0;
}

.islandora-basic-image-sidebar,
.islandora-basic-image-sidebar,
body.one-sidebar .islandora-basic-image-sidebar,
body.two-sidebars .islandora-basic-image-sidebar {
    clear: both;
    width: 100%;
}

.islandora-basic-image-sidebar,
.islandora-basic-image-sidebar,
body.one-sidebar .islandora-basic-image-sidebar,
body.two-sidebars .islandora-basic-image-sidebar {
    width: 100%;
}

@media all and (min-width: 768px) {

  body.no-sidebars .islandora-basic-image-content,
  body.no-sidebars .islandora-basic-image-sidebar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body.no-sidebars .islandora-basic-image-content {
    width: 60%;
    padding: 0 20px 0 0;
    float: left; /* LTR */
  }

  body.no-sidebars .islandora-basic-image-sidebar {
    float: right; /* LTR */
    width: 40%;
    clear: none;
  }
  
}