/* 
    Document   : islandora_basic_collection.theme
    Created on : May 23, 2012, 11:23:56 AM
    Description:
        Purpose of the stylesheet follows.
*/

.islandora-basic-image-content,
.islandora-basic-image-sidebar {
  display: inline;
  position: relative;
}

.islandora-basic-image-metadata {
  display: block;
  clear: both;
}

dl.islandora-basic-image-fields {
  width:100%;
}

.islandora-basic-image-metadata dt {
  font-weight: normal;
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.islandora-basic-image-metadata dd {
  padding-left: 40px;
}


.islandora-basic-image-metadata dt,
.islandora-basic-image-metadata dd {
  border-top:1px solid #e5e5e5;
}

.islandora-basic-image-metadata dt.first,
.islandora-basic-image-metadata dd.first {
  border-top:0;
}

.islandora-basic-image-sidebar,
.islandora-basic-image-sidebar,
body.one-sidebar .islandora-basic-image-sidebar,
body.two-sidebars .islandora-basic-image-sidebar {
    clear: both;
    width: 100%;
}

@media all and (min-width: 768px) {

  body.no-sidebars .islandora-basic-image-content {
    width: 60%;
    padding: 0 20px 0 0;
    float: left; /* LTR */
    margin-top: 1em;
  }

  body.no-sidebars .islandora-basic-image-sidebar {
    float: right; /* LTR */
    width: 40%;
    clear: none;
  }
  
}