<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

  <!-- Spring - Camel Bridged Properties -->
  <bean id="bridgePropertyPlaceholder" class="org.apache.camel.spring.spi.BridgePropertyPlaceholderConfigurer">
    <property name="location" value="classpath:services.properties"/>
  </bean>
  
  <!-- Fedora Component Config -->
  <!-- <bean id="fcrepoTxManager" class="org.fcrepo.camel.FcrepoTransactionManager">
    <property name="baseUrl" value="http://${fcrepo.baseurl}"/>
  </bean>

  <bean id="fcrepo" class="org.fcrepo.camel.FcrepoComponent">
    <property name="transactionManager" ref="fcrepoTxManager"/>
  </bean> -->
  <!-- End Fedora Component Config -->
  
  <bean id="collectionServiceProcessor" class="ca.islandora.services.collection.CollectionServiceProcessorBean"/>
  
  <camelContext xmlns="http://camel.apache.org/schema/spring">
    <package>ca.islandora.services.routes</package>
  </camelContext>

</beans>
